nav {
    background-color: black;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-radius: 30px;
    position: relative;
    z-index: 99;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}

.logo img {
    padding-left: 10px;
    position: absolute;
    top: 0;
}

.nav-link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 5px 12px;
    margin-left: 20px;
    border: 3px solid #ffffff;
    border-radius: 26px;
}

.nav-link li a:hover,
.nav-link li a.active {
    background-color: #fff;
    border-radius: 26px;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        font-size: 1.4rem;
        /* padding-top: 4px; */
    }
    .nav-link {
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        background-color: black;
        right: 0;
        top: 64px;
        border-radius: 30px;
        transition: all 0.5s ease-in-out;
    }
    .nav-link li {
        flex-grow: 1;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .nav-link li:first-child {
        margin-top: 1rem;
    }
    .nav-link.close {
        /* transform: translateY(110%); */
        right: -100%;
        transition: all 0.5s ease-in-out;
    }
}


/* footer style */

.footer {
    background-color: black;
    /* height: 32px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 99;
    width: 100%;
    position: absolute;
    bottom: -3px;
    border-radius: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer-contentWrapper {
    display: flex;
    /* justify-content: end; */
    align-items: center;
    background-color: #ffff00;
    color: #000000;
    padding: 0px 16px 0 0;
    border: 2px solid white;
    border-radius: 16px;
    margin: 6px 0;
    position: relative;
}

.footer-contentWrapper h3 {
    background-color: #000000;
    color: #ffffff;
    line-height: 29px;
    padding-left: 8px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    padding-right: 12px;
    position: absolute;
    left: 0px;
    font-weight: 400;
}

.icons-box {
    padding: 0 0 0 110px;
    height: 29px;
    display: flex;
    align-items: flex-end;
}

.icons-box a {
    color: #000;
    margin: 0 10px 3px;
    text-decoration: none;
}